.footer-section
{
    color: white;
}

.footer-one
{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    background-color: rgba(0, 0, 0, 0.8);
}
.footer-one img
{
    display: inline-block;
    margin-right: 15px;
}
.footer-one strong
{
    display: inline-block;
    margin-right: 18px;
}
.footer-two{
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
}
.footer-two span{
    font-size: 12px;
    color: rgba(255,255,255,0.5);
}
.foot-logo:hover span{
    color: white;
}
.image{
    height: 50px;
    width:50px;
    display:block;
    margin: 1rem auto;
}
.footer-three
{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
}
.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.border1{
    flex:1 1 0%;
    height: 1px;
    background-color: rgb(93,93,95) !important;
    border-color: rgba(255,255,255,0.8) !important;
}
.social-icon{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1rem 0rem;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
}
.social-icon i{
    display: inline-block;  
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.copy-right{
    text-align: center;
    color: rgba(255,255,255,0.2); 
    font-size: 13px;
    padding: 1rem 0rem;
}
.book-icon{
    display: inline-block;
    margin: 0px 15px;
}